html, body {
    width: 100%;
    height: 95%;
    margin: 0;
    padding: 0;
}

/*
* Quill overrides
 */
.ql-snow{
    .ql-picker{
        &.ql-size{
            .ql-picker-label,
            .ql-picker-item{
                &::before{
                    content: attr(data-value) !important;
                }
            }
        }
    }
}