html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#cloud-sign-in-spinner {
    vertical-align: middle;
}

.div-menu-folder {
    width: 100%;
    height: 35px;
    position: relative;
}

.btn-dir-menu-file {
    padding-right: 5px !important;
    height: 35px;
    width: 100%;
    border: 0;
    text-align: left !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.btn-dir-menu-folder {
    padding-right: 5px !important;
    height: 35px;
    width: 100%;
    border: 0;
    text-align: left !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.folder-svg {
    padding-right: 5px;
    padding-left: 5px;
}

.add-svg {

}

.change-svg {

}

#btn-settings {
    position: absolute;
    left: 0;
    height: 100%;
    border: 0;
    background: none;
}

#btn-settings:focus {
    outline: 0;
}

#btn-sync {
    display: inline;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 25px;
}

.no_outline_focus {
    outline: 0;
}

.no_outline_focus:focus {
    outline: 0;
}

.btn-hidden-folder-menu {
    position: absolute;
    right: 0;
    height: 100%;
    display: none;
    border: 0;
}

.btn-hidden-folder-menu:focus {
    outline: 0;
}

.btn-hidden-folder-menu:hover {
    display: inline;
}

.btn-dir-menu-folder:focus {
    outline: 0;
}

.btn-dir-menu-folder:hover + .btn-hidden-folder-menu {
    display: inline;
}

#list-folder-menu {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#list-folder-menu-list {
    padding: 0;
    margin: 0;
}

.folder-menu-item:hover {
    background: gray;
    color: white;
}

#input-gen-salt {
    width: 100%;
}

#startup-signup {
    display: none;
    margin-top: 50px;
}

#app-container {
    display: none;
}

#form-signup {
    max-width: 500px;
    margin: auto;
}

#container {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#editor-container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#editor {
    height: 100%;
    flex: 1;
    overflow-y: auto;
    width: 100%;
}

#btn-submit-cred-form {
    margin-bottom: 15px;
}

#btn-main-add {
    display: inline !important;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
}

#input-file-name {
    height: 100%;
    width: 70%;
    border: none;
    line-height: 50px;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
}